{% extends 'control_user/main.html' %}
{% load static %}
{% block content %}

<!-- Breadcrumb Begin -->
    <div class="breadcrumb-option spad set-bg" data-setbg="{% static 'control_user/img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Restauration</h2>
                        <div class="breadcrumb__links">
                            <a href="#">Home</a>
                            <span>Restauration</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
<!-- Breadcrumb End -->

    <div id="fh5co-container">
		<!-- <div id="fh5co-home" class="js-fullheight" data-section="home">

			<div class="flexslider">
				
				<div class="fh5co-overlay"></div>
				<div class="fh5co-text">
					<div class="container">
						<div class="row">
							<h1 class="to-animate">Restaut</h1>
							
						</div>
					</div>
				</div>
			  	<ul class="slides">
			   	<li style="background-image: url('/static/restauration/images/slide_1.jpg');" data-stellar-background-ratio="0.5"></li>
			   	<li style="background-image: url('/static/restauration/images/slide_2.jpg');" data-stellar-background-ratio="0.5"></li>
			   	<li style="background-image: url('/static/restauration/images/slide_3.jpg');" data-stellar-background-ratio="0.5"></li>
				
			  	</ul>

			</div>
			
		</div> -->

        <div id="fh5co-featured" data-section="features">
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="heading to-animate">Nos Restaurant Partenaires</h2>
						<p class="sub-heading to-animate">Découvrez une multitude de saveurs et de délices dans notre sélection exquise de restaurants partenaires. Que vous soyez amateur de cuisine traditionnelle, adepte de plats exotiques ou en quête de nouvelles expériences culinaires, nos restaurants partenaires sauront vous séduire par leur diversité et leur qualité inégalée. Laissez-vous emporter dans un voyage gustatif où chaque bouchée est une révélation de saveurs raffinées. Nos restaurants partenaires sont des lieux de rendez-vous incontournables pour les gourmets et les gourmands, où la passion pour la cuisine se marie harmonieusement avec le plaisir de partager un moment convivial. Rejoignez-nous et explorez une palette infinie de délices culinaires qui éveilleront vos papilles et feront de chaque repas une expérience mémorable.</p>
					</div>
				</div>
				<div class="row">
					<div class="fh5co-grid">
						<div class="fh5co-v-half to-animate-2">
							<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url('/static/restauration/images/res_img_1.jpg')"></div>
							<div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
								<h2>Fresh Mushrooms</h2>
								<span class="pricing">$7.50</span>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
						</div>
						<div class="fh5co-v-half">
							<div class="fh5co-h-row-2 to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url('/static/restauration/images/res_img_2.jpg')"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-left">
									<h2>Grilled Chiken Salad</h2>
									<span class="pricing">$12.00</span>
									<p>Far far away, behind the word mountains.</p>
								</div>
							</div>
							<div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url('/static/restauration/images/res_img_8.jpg')"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-right">
									<h2>Cheese and Garlic Toast</h2>
									<span class="pricing">$4.50</span>
									<p>Far far away, behind the word mountains.</p>
								</div>
							</div>
						</div>

						<div class="fh5co-v-half">
							<div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url('/static/restauration/images/res_img_7.jpg')"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-right">
									<h2>Organic Egg</h2>
									<span class="pricing">$4.99</span>
									<p>Far far away, behind the word mountains.</p>
								</div>
							</div>
							<div class="fh5co-h-row-2 to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url('/static/restauration/images/res_img_6.jpg')"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-left">
									<h2>Salad with Crispy Chicken</h2>
									<span class="pricing">$8.50</span>
									<p>Far far away, behind the word mountains.</p>
								</div>
							</div>
						</div>
						<div class="fh5co-v-half to-animate-2">
							<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url('/static/restauration/images/res_img_3.jpg')"></div>
							<div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
								<h2>Tomato Soup with Chicken</h2>
								<span class="pricing">$12.99</span>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>

{% endblock content %}
