{% load static %}
<!-- Header section -->
	<header class="header-section clearfix">
		<a href="{% url 'streaming' %}" class="site-logo">
			<img src="{% static 'live_stream/img/logos.png' %}" alt="">
		</a>
		<div class="header-right">
			<a href="{% url 'home' %}" class="hr-btn">Retour</a>
			<span>|</span>
			<div class="user-panel">
				<a href="" class="login">Login</a>

			</div> 
		</div>
		<ul class="main-menu">
			<li><a href="{% url 'category' %}">Category</a></li>
			<li><a href="{% url 'playlist' %}">Playlist</a></li>
			<li><a href="{% url 'artist' %}">Artist</a></li>
			<li><a href="{% url 'blog' %}">Blog</a></li>
			<li><a href="{% url 'contact' %}">Contact</a></li>
			<li><a href="{% url 'restauration' %}">Restauration</a></li>
		</ul>
	</header>
	<!-- Header section end -->